@{
  Layout = "_Layout";
}

<div class="jumbotron">
<h2>Why the Wally rating system?</h2>
<p> Because here at RecipeBox we strive to give you sensical recipe data in a way that is both stimulating, and authoritative. Meals rated with 1 Wally are the recipe equivalent of preschool mathematics. Meals with a 5 rating are difficult to make, but delicious to eat, and you probably gotta do some thinking in order to make these recipes correctly. Enjoy your stay here!

<h6><i>Article I Section 8. Clause 8 – Patent and Copyright Clause of the Constitution. [The Congress shall have power] “To promote the progress of science and useful arts, by securing for limited times to authors and inventors the exclusive right to their respective writings and discoveries.</i></h6></p>

<div class="text-center">
<img src="../img/checkbox.png" style="border-radius: 10em;">
<img src="../img/checkbox.png" style="border-radius: 10em;">
<img src="../img/checkbox.png" style="border-radius: 10em; width: 20%;">
<img src="../img/checkbox.png" style="border-radius: 10em;">
<img src="../img/checkbox.png" style="border-radius: 10em;">

</div>
</div>
<br>
<a href="/" class="btn-primary btn-lg">Return Home</a>
