body {
  background-color: lightgray;
  font-family: 'Signika', sans-serif;
}

h1{
  font-family: 'Lobster', cursive;
  font-size: 6em;
  text-shadow: 2px 3px #efc45f;
}

.img-fluid {
  width: 100%;
  filter: sepia(40%);
  margin-bottom: 2em;
  border-radius: 3em;
}

.img-fluid:hover {
  width: 100%;
  filter: invert(100%);
  margin-bottom: 2em;
  border-radius: 3em;
}

.btn-danger{
  background-color: #efc45f;
  border-color: #efc45f;
}

.btn-danger:hover{
  background-color: black;
  border-color: black;
}

h1 a{
    color: black;
}

h1 a:hover{
    color: #efc45f;
    text-shadow: 4px 4px black;
}

h3 {
  padding: 3em;
}

input[type=radio] {
display:none;
}


input[type="radio"] + label{
  background-image: url("https://i.imgur.com/7XGyZKE.png");
  width:25px;
  height:25px;
  display:inline-block;
  background-size: 25px 25px;
}

input[type="radio"]:hover + label {
  background-image: url("https://i.imgur.com/CHvUhzL.png");
  width:25px;
  height:25px;
  display:inline-block;
  background-size: 25px 25px;
  color: white;
}

input[type="radio"]:checked + label {
  background-image: url("https://i.imgur.com/CHvUhzL.png");
  width:25px;
  height:25px;
  display:inline-block;
  background-size: 25px 25px;
  color: #efc45f;
}

.cool {
  direction: rtl;
  font-size: 3em;
  margin-left: 1em;
}

.cool > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}

.cool > span:hover:before,
.cool > span:hover ~ span:before {
  width:25px;
  height:25px;
  display:inline-block;
  background-size: 25px 25px;
}

/*input.hideRadio[type="radio"]{
  visibility:hidden;}*/
