@{
  Layout = "_Layout";
}

<img src="../img/logo.jpg" class="img-fluid" alt="Responsive image">
<a href="/recipes" class="btn btn-primary btn-lg btn-block btn-danger">SEARCH BY RECIPE</a>

<a href="/ingredients" class="btn btn-primary btn-lg btn-block btn-danger">SEARCH BY INGREDIENTS</a>

<a href="/tags" class="btn btn-primary btn-lg btn-block btn-danger">SEARCH BY CUISINE</a>
